<div class="content">
  <nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
      <a class="navbar-brand">Blogs List</a>
      <form class="d-flex" (submit)="searchBlogs()">
        <input
          class="form-control me-2"
          type="search"
          [(ngModel)]="searchTerm"
          placeholder="Search"
          aria-label="Search"
          [ngModelOptions]="{ standalone: true }"
          (keyup)="searchBlogs()"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  @if (isEmptyList) {
  <div class="alert alert-warning">No blogs found. Try a different search.</div>
  }

  <div
    *ngFor="let blog of blogs; trackBy: trackById"
    class="card mb-5"
    [ngStyle]="{ border: getBorderStyle(blog.upvotes, blog.downvotes) }"
  >
    <div class="card-body">
      <h5 class="card-title">{{ blog.title }}</h5>
      <p class="card-text">{{ blog.content | slice : 0 : 100 }}...</p>
      <a class="nav-link" [routerLink]="['/', blog._id]">Continue reading</a>
      <p class="card-text">
        <small class="text-muted">Author: {{ blog.author }}</small>
      </p>
      <button class="btn btn-success btn-sm" (click)="updateVote(blog, 'up')">
        👍 ({{ blog.upvotes }})
      </button>
      <button
        class="btn btn-danger btn-sm ms-2"
        (click)="updateVote(blog, 'down')"
      >
        👎 ({{ blog.downvotes }})
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
